.template2 {
    background-color: white !important;
    min-height: 200vh !important;
    
}

.nameHeader2{
    justify-content: center !important;
    text-align: center;
    
}

.resumeInfo{
    margin-left: 20vh;
}


::marker{
    color: aliceblue;
}



.skill2{
    margin-top: 20vh !important;
}